## Further Data Cleaning

In [23]:
from bs4 import BeautifulSoup
import pandas as pd
import os

In [48]:
df = pd.read_csv("team_stats.csv")
del df["Unnamed: 0"]

In [49]:
df

,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year,Team
0,240.3,41.5,88.3,0.470,12.9,34.4,0.374,28.6,53.9,0.531,...,33.9,44.0,24.6,7.2,4.2,11.9,18.7,113.9,1996,ATL
1,240.3,41.5,88.3,0.470,12.9,34.4,0.374,28.6,53.9,0.531,...,33.9,44.0,24.6,7.2,4.2,11.9,18.7,113.9,1997,ATL
2,240.3,41.5,88.3,0.470,12.9,34.4,0.374,28.6,53.9,0.531,...,33.9,44.0,24.6,7.2,4.2,11.9,18.7,113.9,1998,ATL
3,240.3,41.5,88.3,0.470,12.9,34.4,0.374,28.6,53.9,0.531,...,33.9,44.0,24.6,7.2,4.2,11.9,18.7,113.9,1999,ATL
4,240.3,41.5,88.3,0.470,12.9,34.4,0.374,28.6,53.9,0.531,...,33.9,44.0,24.6,7.2,4.2,11.9,18.7,113.9,2000,ATL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
796,241.8,40.6,86.0,0.472,10.5,30.6,0.342,30.1,55.4,0.543,...,34.1,43.1,25.0,6.4,5.0,13.1,18.8,108.6,2022,WAS
797,241.5,39.0,80.7,0.484,6.0,14.8,0.407,33.0,65.9,0.501,...,28.4,39.7,22.1,7.2,6.2,16.2,24.2,102.5,1996,WSB
798,242.1,39.1,81.4,0.480,4.0,12.2,0.331,35.1,69.2,0.507,...,29.5,41.8,23.4,8.7,4.9,15.7,22.1,99.4,1997,WSB
799,241.5,34.5,78.4,0.440,3.7,10.8,0.339,30.9,67.6,0.457,...,29.0,40.2,18.5,7.5,3.8,13.4,21.8,92.8,2006,NOK
800,242.4,36.2,81.4,0.445,5.5,15.3,0.362,30.7,66.1,0.464,...,30.6,43.1,18.7,6.4,4.2,14.5,19.8,95.5,2007,NOK

**Combine teams that have different historical names**

In [52]:
replace_dict = {"NJN": "BRK", "CHA": "CHO", "CHH": "CHO", "VAN": "MEM", "NOH": "NOP", "NOK": "NOP", "SEA": "OKC", "WSB": "WAS"}
df["Team"] = df["Team"].replace(replace_dict)

In [53]:
df

,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year,Team
0,240.3,41.5,88.3,0.470,12.9,34.4,0.374,28.6,53.9,0.531,...,33.9,44.0,24.6,7.2,4.2,11.9,18.7,113.9,1996,ATL
1,240.3,41.5,88.3,0.470,12.9,34.4,0.374,28.6,53.9,0.531,...,33.9,44.0,24.6,7.2,4.2,11.9,18.7,113.9,1997,ATL
2,240.3,41.5,88.3,0.470,12.9,34.4,0.374,28.6,53.9,0.531,...,33.9,44.0,24.6,7.2,4.2,11.9,18.7,113.9,1998,ATL
3,240.3,41.5,88.3,0.470,12.9,34.4,0.374,28.6,53.9,0.531,...,33.9,44.0,24.6,7.2,4.2,11.9,18.7,113.9,1999,ATL
4,240.3,41.5,88.3,0.470,12.9,34.4,0.374,28.6,53.9,0.531,...,33.9,44.0,24.6,7.2,4.2,11.9,18.7,113.9,2000,ATL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
796,241.8,40.6,86.0,0.472,10.5,30.6,0.342,30.1,55.4,0.543,...,34.1,43.1,25.0,6.4,5.0,13.1,18.8,108.6,2022,WAS
797,241.5,39.0,80.7,0.484,6.0,14.8,0.407,33.0,65.9,0.501,...,28.4,39.7,22.1,7.2,6.2,16.2,24.2,102.5,1996,WAS
798,242.1,39.1,81.4,0.480,4.0,12.2,0.331,35.1,69.2,0.507,...,29.5,41.8,23.4,8.7,4.9,15.7,22.1,99.4,1997,WAS
799,241.5,34.5,78.4,0.440,3.7,10.8,0.339,30.9,67.6,0.457,...,29.0,40.2,18.5,7.5,3.8,13.4,21.8,92.8,2006,NOP
800,242.4,36.2,81.4,0.445,5.5,15.3,0.362,30.7,66.1,0.464,...,30.6,43.1,18.7,6.4,4.2,14.5,19.8,95.5,2007,NOP

## Adding Win Score

In [67]:
season = 2021

file_path = "DATA/TOR_{}.html".format(season)

href_target = "/playoffs/NBA_{}.html".format(season)

with open(file_path) as file:
    team_data = file.read()

soup = BeautifulSoup(team_data, "html.parser")

playoffs = soup.find("a", href=href_target)

print(playoffs)

if playoffs != None:
    print("found")
else:
    print("not found")

<a href="/playoffs/NBA_2021.html">Playoffs</a>
found