## Further Data Cleaning

In [2]:
from bs4 import BeautifulSoup
import pandas as pd
import os

In [2]:
seasons = list(range(1996, 2023))
data_url = "https://www.basketball-reference.com/teams/{}/{}.html"
teams = ["ATL", "BOS", "BRK", "NJN", "CHO", "CHA", "CHH", "CHI", "CLE", "DAL", "DEN", "DET", "GSW", "HOU", "IND",
         "LAC", "LAL", "MEM", "VAN", "MIA", "MIL", "MIN", "NOP", "NOH", "NYK", "OKC", "SEA", "ORL",
         "PHI", "PHO", "POR", "SAC", "SAS", "TOR", "UTA", "WAS", "WSB"]

**Combine teams that have different historical names**

**Still Missing 2 New Orleans / Oklahama Pelicans -> 2006, 2007 team abbrev = NOK**

In [9]:
from selenium import webdriver
from selenium.common.exceptions import WebDriverException
import requests

In [10]:
# instantiating (start) the webdriver
driver = webdriver.Chrome(executable_path="/Users/caleb/Desktop/github/NBA/chromedriver_mac64")

/var/folders/x3/2znzyvg544q8fg1wz_2m7wc80000gn/T/ipykernel_5202/368356819.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path="/Users/caleb/Desktop/github/NBA/chromedriver_mac64")

In [11]:
df = []
    
for season in range(2006, 2008):
    file_path = "DATA/NOK_{}.html".format(season)

    # checking if file exists
    if os.path.exists(file_path):

        # get the contents of the file containing the team's season data
        with open(file_path) as file:
            team_data = file.read()

        # creates a new object using the BeautifulSoup class and allows for parsing of the team_data
        soup = BeautifulSoup(team_data, "html.parser")

        team_stats_table = soup.find(id="div_team_and_opponent")

        team_stats = pd.read_html(str(team_stats_table))[0]

        team_stats = team_stats.drop(team_stats.index.difference([1]))

        del team_stats["Unnamed: 0"]
        del team_stats["G"]

        team_stats["Year"] = season

        team_stats["Team"] = "NOK"

        df.append(team_stats)

    else:
        continue

df = pd.concat(df)

In [12]:
df

,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year,Team
1,241.5,34.5,78.4,0.440,3.7,10.8,0.339,30.9,67.6,0.457,...,29.0,40.2,18.5,7.5,3.8,13.4,21.8,92.8,2006,NOK
1,242.4,36.2,81.4,0.445,5.5,15.3,0.362,30.7,66.1,0.464,...,30.6,43.1,18.7,6.4,4.2,14.5,19.8,95.5,2007,NOK

In [13]:
df = df.reset_index(drop=True)

In [14]:
df

,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year,Team
0,241.5,34.5,78.4,0.440,3.7,10.8,0.339,30.9,67.6,0.457,...,29.0,40.2,18.5,7.5,3.8,13.4,21.8,92.8,2006,NOK
1,242.4,36.2,81.4,0.445,5.5,15.3,0.362,30.7,66.1,0.464,...,30.6,43.1,18.7,6.4,4.2,14.5,19.8,95.5,2007,NOK

In [15]:
total_df = pd.read_csv("team_stats.csv")

In [16]:
total_df

,Unnamed: 0,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year,Team
0,0,240.3,41.5,88.3,0.470,12.9,34.4,0.374,28.6,53.9,...,33.9,44.0,24.6,7.2,4.2,11.9,18.7,113.9,1996,ATL
1,1,240.3,41.5,88.3,0.470,12.9,34.4,0.374,28.6,53.9,...,33.9,44.0,24.6,7.2,4.2,11.9,18.7,113.9,1997,ATL
2,2,240.3,41.5,88.3,0.470,12.9,34.4,0.374,28.6,53.9,...,33.9,44.0,24.6,7.2,4.2,11.9,18.7,113.9,1998,ATL
3,3,240.3,41.5,88.3,0.470,12.9,34.4,0.374,28.6,53.9,...,33.9,44.0,24.6,7.2,4.2,11.9,18.7,113.9,1999,ATL
4,4,240.3,41.5,88.3,0.470,12.9,34.4,0.374,28.6,53.9,...,33.9,44.0,24.6,7.2,4.2,11.9,18.7,113.9,2000,ATL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,794,241.0,41.5,90.9,0.457,12.0,32.6,0.368,29.5,58.3,...,31.9,42.0,25.0,8.0,4.3,14.2,22.7,114.4,2020,WAS
795,795,241.7,43.2,90.9,0.475,10.2,29.0,0.351,33.0,61.9,...,35.5,45.2,25.5,7.3,4.1,14.4,21.6,116.6,2021,WAS
796,796,241.8,40.6,86.0,0.472,10.5,30.6,0.342,30.1,55.4,...,34.1,43.1,25.0,6.4,5.0,13.1,18.8,108.6,2022,WAS
797,797,241.5,39.0,80.7,0.484,6.0,14.8,0.407,33.0,65.9,...,28.4,39.7,22.1,7.2,6.2,16.2,24.2,102.5,1996,WSB
798,798,242.1,39.1,81.4,0.480,4.0,12.2,0.331,35.1,69.2,...,29.5,41.8,23.4,8.7,4.9,15.7,22.1,99.4,1997,WSB

In [17]:
del total_df["Unnamed: 0"]

In [18]:
total_df

,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year,Team
0,240.3,41.5,88.3,0.470,12.9,34.4,0.374,28.6,53.9,0.531,...,33.9,44.0,24.6,7.2,4.2,11.9,18.7,113.9,1996,ATL
1,240.3,41.5,88.3,0.470,12.9,34.4,0.374,28.6,53.9,0.531,...,33.9,44.0,24.6,7.2,4.2,11.9,18.7,113.9,1997,ATL
2,240.3,41.5,88.3,0.470,12.9,34.4,0.374,28.6,53.9,0.531,...,33.9,44.0,24.6,7.2,4.2,11.9,18.7,113.9,1998,ATL
3,240.3,41.5,88.3,0.470,12.9,34.4,0.374,28.6,53.9,0.531,...,33.9,44.0,24.6,7.2,4.2,11.9,18.7,113.9,1999,ATL
4,240.3,41.5,88.3,0.470,12.9,34.4,0.374,28.6,53.9,0.531,...,33.9,44.0,24.6,7.2,4.2,11.9,18.7,113.9,2000,ATL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,241.0,41.5,90.9,0.457,12.0,32.6,0.368,29.5,58.3,0.506,...,31.9,42.0,25.0,8.0,4.3,14.2,22.7,114.4,2020,WAS
795,241.7,43.2,90.9,0.475,10.2,29.0,0.351,33.0,61.9,0.533,...,35.5,45.2,25.5,7.3,4.1,14.4,21.6,116.6,2021,WAS
796,241.8,40.6,86.0,0.472,10.5,30.6,0.342,30.1,55.4,0.543,...,34.1,43.1,25.0,6.4,5.0,13.1,18.8,108.6,2022,WAS
797,241.5,39.0,80.7,0.484,6.0,14.8,0.407,33.0,65.9,0.501,...,28.4,39.7,22.1,7.2,6.2,16.2,24.2,102.5,1996,WSB
798,242.1,39.1,81.4,0.480,4.0,12.2,0.331,35.1,69.2,0.507,...,29.5,41.8,23.4,8.7,4.9,15.7,22.1,99.4,1997,WSB

In [19]:
total_df = pd.concat([total_df, df], axis=0)

In [20]:
total_df = total_df.reset_index(drop=True)

In [21]:
total_df

,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year,Team
0,240.3,41.5,88.3,0.470,12.9,34.4,0.374,28.6,53.9,0.531,...,33.9,44.0,24.6,7.2,4.2,11.9,18.7,113.9,1996,ATL
1,240.3,41.5,88.3,0.470,12.9,34.4,0.374,28.6,53.9,0.531,...,33.9,44.0,24.6,7.2,4.2,11.9,18.7,113.9,1997,ATL
2,240.3,41.5,88.3,0.470,12.9,34.4,0.374,28.6,53.9,0.531,...,33.9,44.0,24.6,7.2,4.2,11.9,18.7,113.9,1998,ATL
3,240.3,41.5,88.3,0.470,12.9,34.4,0.374,28.6,53.9,0.531,...,33.9,44.0,24.6,7.2,4.2,11.9,18.7,113.9,1999,ATL
4,240.3,41.5,88.3,0.470,12.9,34.4,0.374,28.6,53.9,0.531,...,33.9,44.0,24.6,7.2,4.2,11.9,18.7,113.9,2000,ATL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
796,241.8,40.6,86.0,0.472,10.5,30.6,0.342,30.1,55.4,0.543,...,34.1,43.1,25.0,6.4,5.0,13.1,18.8,108.6,2022,WAS
797,241.5,39.0,80.7,0.484,6.0,14.8,0.407,33.0,65.9,0.501,...,28.4,39.7,22.1,7.2,6.2,16.2,24.2,102.5,1996,WSB
798,242.1,39.1,81.4,0.480,4.0,12.2,0.331,35.1,69.2,0.507,...,29.5,41.8,23.4,8.7,4.9,15.7,22.1,99.4,1997,WSB
799,241.5,34.5,78.4,0.440,3.7,10.8,0.339,30.9,67.6,0.457,...,29.0,40.2,18.5,7.5,3.8,13.4,21.8,92.8,2006,NOK
800,242.4,36.2,81.4,0.445,5.5,15.3,0.362,30.7,66.1,0.464,...,30.6,43.1,18.7,6.4,4.2,14.5,19.8,95.5,2007,NOK

In [ ]:
total_df.to_csv("total_stats.csv")