## Further Data Cleaning

In [114]:
from bs4 import BeautifulSoup
import pandas as pd
import os
from sklearn.preprocessing import MinMaxScaler

In [115]:
t_stats_df = pd.read_csv("team_stats.csv")
del t_stats_df["Unnamed: 0"]

In [116]:
t_stats_df

,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year,Team
0,240.3,41.5,88.3,0.470,12.9,34.4,0.374,28.6,53.9,0.531,...,33.9,44.0,24.6,7.2,4.2,11.9,18.7,113.9,1996,ATL
1,240.3,41.5,88.3,0.470,12.9,34.4,0.374,28.6,53.9,0.531,...,33.9,44.0,24.6,7.2,4.2,11.9,18.7,113.9,1997,ATL
2,240.3,41.5,88.3,0.470,12.9,34.4,0.374,28.6,53.9,0.531,...,33.9,44.0,24.6,7.2,4.2,11.9,18.7,113.9,1998,ATL
3,240.3,41.5,88.3,0.470,12.9,34.4,0.374,28.6,53.9,0.531,...,33.9,44.0,24.6,7.2,4.2,11.9,18.7,113.9,1999,ATL
4,240.3,41.5,88.3,0.470,12.9,34.4,0.374,28.6,53.9,0.531,...,33.9,44.0,24.6,7.2,4.2,11.9,18.7,113.9,2000,ATL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
796,241.8,40.6,86.0,0.472,10.5,30.6,0.342,30.1,55.4,0.543,...,34.1,43.1,25.0,6.4,5.0,13.1,18.8,108.6,2022,WAS
797,241.5,39.0,80.7,0.484,6.0,14.8,0.407,33.0,65.9,0.501,...,28.4,39.7,22.1,7.2,6.2,16.2,24.2,102.5,1996,WSB
798,242.1,39.1,81.4,0.480,4.0,12.2,0.331,35.1,69.2,0.507,...,29.5,41.8,23.4,8.7,4.9,15.7,22.1,99.4,1997,WSB
799,241.5,34.5,78.4,0.440,3.7,10.8,0.339,30.9,67.6,0.457,...,29.0,40.2,18.5,7.5,3.8,13.4,21.8,92.8,2006,NOK
800,242.4,36.2,81.4,0.445,5.5,15.3,0.362,30.7,66.1,0.464,...,30.6,43.1,18.7,6.4,4.2,14.5,19.8,95.5,2007,NOK

**Combine teams that have different historical names**

In [117]:
replace_dict = {"NJN": "BRK", "CHA": "CHO", "CHH": "CHO", "VAN": "MEM", "NOH": "NOP", "NOK": "NOP", "SEA": "OKC", "WSB": "WAS"}
t_stats_df["Team"] = t_stats_df["Team"].replace(replace_dict)

In [118]:
t_stats_df

,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year,Team
0,240.3,41.5,88.3,0.470,12.9,34.4,0.374,28.6,53.9,0.531,...,33.9,44.0,24.6,7.2,4.2,11.9,18.7,113.9,1996,ATL
1,240.3,41.5,88.3,0.470,12.9,34.4,0.374,28.6,53.9,0.531,...,33.9,44.0,24.6,7.2,4.2,11.9,18.7,113.9,1997,ATL
2,240.3,41.5,88.3,0.470,12.9,34.4,0.374,28.6,53.9,0.531,...,33.9,44.0,24.6,7.2,4.2,11.9,18.7,113.9,1998,ATL
3,240.3,41.5,88.3,0.470,12.9,34.4,0.374,28.6,53.9,0.531,...,33.9,44.0,24.6,7.2,4.2,11.9,18.7,113.9,1999,ATL
4,240.3,41.5,88.3,0.470,12.9,34.4,0.374,28.6,53.9,0.531,...,33.9,44.0,24.6,7.2,4.2,11.9,18.7,113.9,2000,ATL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
796,241.8,40.6,86.0,0.472,10.5,30.6,0.342,30.1,55.4,0.543,...,34.1,43.1,25.0,6.4,5.0,13.1,18.8,108.6,2022,WAS
797,241.5,39.0,80.7,0.484,6.0,14.8,0.407,33.0,65.9,0.501,...,28.4,39.7,22.1,7.2,6.2,16.2,24.2,102.5,1996,WAS
798,242.1,39.1,81.4,0.480,4.0,12.2,0.331,35.1,69.2,0.507,...,29.5,41.8,23.4,8.7,4.9,15.7,22.1,99.4,1997,WAS
799,241.5,34.5,78.4,0.440,3.7,10.8,0.339,30.9,67.6,0.457,...,29.0,40.2,18.5,7.5,3.8,13.4,21.8,92.8,2006,NOP
800,242.4,36.2,81.4,0.445,5.5,15.3,0.362,30.7,66.1,0.464,...,30.6,43.1,18.7,6.4,4.2,14.5,19.8,95.5,2007,NOP

## Merging Team Stats and Playoff Scores Dataframes

In [119]:
t_score_df = pd.read_csv("playoff_score.csv")
del t_score_df["Unnamed: 0"]

In [120]:
t_score_df

    Team  Score  Year
0    CHI     10  1996
1    OKC      7  1996
2    ORL      4  1996
3    UTA      4  1996
4    NYK      2  1996
..   ...    ...   ...
427  TOR      1  2022
428  UTA      1  2022
429  DEN      1  2022
430  MIN      1  2022
431  NOP      1  2022

[432 rows x 3 columns]

In [121]:
# merge the team stats and scores dataframe on the "Team" and "Year" columns
# how=left means a left join meaning all rows from the larger dataframe are kept, only matching rows from 
# the smaller dataframe are merged

combined_df = pd.merge(t_stats_df, t_score_df, on=["Team", "Year"], how="left")

In [122]:
combined_df["Score"].fillna(0, inplace=True)

In [123]:
combined_df

,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,...,TRB,AST,STL,BLK,TOV,PF,PTS,Year,Team,Score
0,240.3,41.5,88.3,0.470,12.9,34.4,0.374,28.6,53.9,0.531,...,44.0,24.6,7.2,4.2,11.9,18.7,113.9,1996,ATL,2.0
1,240.3,41.5,88.3,0.470,12.9,34.4,0.374,28.6,53.9,0.531,...,44.0,24.6,7.2,4.2,11.9,18.7,113.9,1997,ATL,2.0
2,240.3,41.5,88.3,0.470,12.9,34.4,0.374,28.6,53.9,0.531,...,44.0,24.6,7.2,4.2,11.9,18.7,113.9,1998,ATL,1.0
3,240.3,41.5,88.3,0.470,12.9,34.4,0.374,28.6,53.9,0.531,...,44.0,24.6,7.2,4.2,11.9,18.7,113.9,1999,ATL,2.0
4,240.3,41.5,88.3,0.470,12.9,34.4,0.374,28.6,53.9,0.531,...,44.0,24.6,7.2,4.2,11.9,18.7,113.9,2000,ATL,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
796,241.8,40.6,86.0,0.472,10.5,30.6,0.342,30.1,55.4,0.543,...,43.1,25.0,6.4,5.0,13.1,18.8,108.6,2022,WAS,0.0
797,241.5,39.0,80.7,0.484,6.0,14.8,0.407,33.0,65.9,0.501,...,39.7,22.1,7.2,6.2,16.2,24.2,102.5,1996,WAS,0.0
798,242.1,39.1,81.4,0.480,4.0,12.2,0.331,35.1,69.2,0.507,...,41.8,23.4,8.7,4.9,15.7,22.1,99.4,1997,WAS,1.0
799,241.5,34.5,78.4,0.440,3.7,10.8,0.339,30.9,67.6,0.457,...,40.2,18.5,7.5,3.8,13.4,21.8,92.8,2006,NOP,0.0
800,242.4,36.2,81.4,0.445,5.5,15.3,0.362,30.7,66.1,0.464,...,43.1,18.7,6.4,4.2,14.5,19.8,95.5,2007,NOP,0.0

In [124]:
# scaling the data to values between 0 (smallest value) to 1 (largest value) using the MinMaxScaler Class from 
# sk.learnprocessing library

scaler = MinMaxScaler()

avoid_scale = ["Year", "Team", "Score"]

# choosing which columns to scale
scale_cols = combined_df.columns[~combined_df.columns.isin(avoid_scale)]

# scaling the chosen columns 
combined_df[scale_cols] = scaler.fit_transform(combined_df[scale_cols])

combined_df

,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,...,TRB,AST,STL,BLK,TOV,PF,PTS,Year,Team,Score
0,0.061224,0.769784,0.737069,0.669903,0.741497,0.710526,0.670732,0.416667,0.329670,0.714286,...,0.521739,0.585714,0.261538,0.310345,0.101266,0.200000,0.837696,1996,ATL,2.0
1,0.061224,0.769784,0.737069,0.669903,0.741497,0.710526,0.670732,0.416667,0.329670,0.714286,...,0.521739,0.585714,0.261538,0.310345,0.101266,0.200000,0.837696,1997,ATL,2.0
2,0.061224,0.769784,0.737069,0.669903,0.741497,0.710526,0.670732,0.416667,0.329670,0.714286,...,0.521739,0.585714,0.261538,0.310345,0.101266,0.200000,0.837696,1998,ATL,1.0
3,0.061224,0.769784,0.737069,0.669903,0.741497,0.710526,0.670732,0.416667,0.329670,0.714286,...,0.521739,0.585714,0.261538,0.310345,0.101266,0.200000,0.837696,1999,ATL,2.0
4,0.061224,0.769784,0.737069,0.669903,0.741497,0.710526,0.670732,0.416667,0.329670,0.714286,...,0.521739,0.585714,0.261538,0.310345,0.101266,0.200000,0.837696,2000,ATL,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
796,0.367347,0.705036,0.637931,0.689320,0.578231,0.610526,0.475610,0.530303,0.370879,0.792208,...,0.465839,0.614286,0.138462,0.448276,0.253165,0.209524,0.698953,2022,WAS,0.0
797,0.306122,0.589928,0.409483,0.805825,0.272109,0.194737,0.871951,0.750000,0.659341,0.519481,...,0.254658,0.407143,0.261538,0.655172,0.645570,0.723810,0.539267,1996,WAS,0.0
798,0.428571,0.597122,0.439655,0.766990,0.136054,0.126316,0.408537,0.909091,0.750000,0.558442,...,0.385093,0.500000,0.492308,0.431034,0.582278,0.523810,0.458115,1997,WAS,1.0
799,0.306122,0.266187,0.310345,0.378641,0.115646,0.089474,0.457317,0.590909,0.706044,0.233766,...,0.285714,0.150000,0.307692,0.241379,0.291139,0.495238,0.285340,2006,NOP,0.0
800,0.489796,0.388489,0.439655,0.427184,0.238095,0.207895,0.597561,0.575758,0.664835,0.279221,...,0.465839,0.164286,0.138462,0.310345,0.430380,0.304762,0.356021,2007,NOP,0.0

In [125]:
combined_df = combined_df.sort_values(["Year", "Score"], ascending=[True, False])

In [126]:
combined_df.to_csv("merged_stats_scores.csv")